body {
    font-family: 'Arial 50px', serif;
    background-image:  url("./assets/background.jpg");
    background-color: white;

  }
  
  #todo-list {
    margin: 50px auto;
    width: 600px;
  }
  
  #login,
  #register {
    text-align: center;
    margin: 50px auto;
    width: 400px;
    border: 5px solid darkblue;
    padding: 20px;
    border-radius: 10px;
  }
  
  #todo-list h4 {
    text-align: center;
  }
  
  #todo-list .btn {
    margin: 10px 50%;
    transform: translate(-50%)
  }
  
  #todo-list .fas {
    margin-left: 10px;
    size: 2em;
    cursor: pointer;
  }
  
  .alert {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 350px;
    margin: auto;
    z-index: 10;
  }
  
  #fb-login {
    background-color: blue;
    border: 0;
    color: white;
  }
  
  #fb-login:hover {
    color: lightgray;
  }
  
  .refresh {
    margin-left: 8px;
  }

  #todo-header {
    font-size: 50px;
  }